{% extends 'base.html.twig' %}

{% block title %} {{ titre_page }} {% endblock %}

{% block body %}
    {{ parent() }}

    <div id="login_form" style="margin: 3rem auto" class="w-50" >
        {{ include('security/_login.html.twig') }}
    </div>

{% endblock %}



