<hr>
    <footer id="footerpad">
        <div class="container">
            <div class="row text-center">
                <div class="col-sm card">
                    <div class="card-body">
                        <h5 class="card-title ">Nous</h5>
                        <p class="card-text"> Le NewStyl est un restaurant Africain,
                            qui vous acceuillera avec plaisir.
                        </p>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class="card-body">
                        <h5 class="card-title "><i class="fas fa-map-marker-alt"> Localisation</i></h5>
                        <p class="card-text">
                            16 passage championnet<br>75018 Paris
                        </p>
                    </div>
                </div>
                <div class="col-sm card">
                    <div class="card-body">
                        <h5 class="card-title ">Infos</h5>
                        <p class="card-text">
                            <i class="far fa-credit-card"> Paiement CB</i><br>
                            <i class="fas fa-money-bill-wave"> Paiement Cash</i><br>
                            <i class="fas fa-mobile-alt"> 06 69 69 76 69</i>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copyright text-center">Copyright <SUP>&copy;</SUP>  2020, LeNewStyl</p>
        </div>
    </footer>
