{% extends 'base.html.twig' %}

{% block body %}

    <hr>
    <footer id="footerpad">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h6>Qui sommes-Nous</h6> <br>

                </div>

                <div class="col-sm">
                    <h6>Localisation <i class="fas fa-map-marker-alt"></i></h6><br>
                    <a href="https://www.google.fr/maps/dir//92230+Gennevilliers/@48.9326635,2.230054,12z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x47e66f56b7677b3d:0x1c0b82c6e1d88050!2m2!1d2.3000941!2d48.9326847!3e3">
                         16 passage championnet<br>75018 Paris </a>
                </div>

                <div class="col-sm">
                    <h6>Besoin d'aide </h6><br>
                    <a href="https://pouruneautreeconomie.fr/moyen-de-paiement-en-ligne/">Paiement sécurisé</a><br>
                    <a href="#">Nous Contacter</a><br>
                </div>
            </div>
            <hr>
            <p class="copyright text-center">Copyright &copy; 2020, LeNewStyl</p>
        </div>
    </footer>

{% endblock %}
